*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Testfiles
*.pdf
*.tex

# Python 2 distribution files
python2_source

# Venv
venv*
.venv*

# Ignore generated doc files
doc_building/source/examples
doc_building/source/pythontikz
doc_building/source/_static/examples
docs/source/examples
docs/source/pythontikz
docs/source/_static/examples


docs/gh-pages

coverage.xml

# Folders
.idea/
.virtualenv/
.coverage.*
