pythontikz/_version.py export-subst


*.txt text eol=lf 
*.sh text eol=lf 
*.py text eol=lf
*.rst text eol=lf
*.html text eol=lf
*.js text eol=lf
*.inv text eol=lf
*.png text eol=lf
*.yml text eol=lf

Makefile text eol=lf